#algorith_manager {
  width: 1300px;
  height: 650px;
  position: fixed;
  top: 42%;
  left: 55%;
  transform: translate(-50%, -50%);
  padding: 10px 10px 15px 15px;
  z-index: 999;
  color: rgba(80, 80, 80, 1);
  background: rgba(255, 255, 255, 1);
  border-radius: 8px;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  // ------标题、关闭按钮------
  .manager_title {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(117, 109, 109, 1);
    font-weight: bold;

    img {
      width: 15px;
      height: 15px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  // ------搜索框------
  .manager_operation {
    align-self: flex-start;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 15px 0;
    background: #f5f5f5;
    padding-left: 10px;

    .manager_input {
      margin-right: 5px;
      width: 200px;
      height: 35px;

      .el-input__inner {
        background: #ffffff;
      }
    }

    .manager_select {
      width: 200px;
      height: 35px;
      background: #ffffff;
      border: none;
      outline: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      padding-left: 4px;
    }

    .manager_select::-ms-expand {
      display: none;
    }

    .operation_input {
      margin-right: 10px;
    }

    .operation_input ::v-deep .el-input__inner {
      width: 260px;
      height: 32px;
      line-height: 32px;
      background-color: #ffffff;
    }

    .operation_input ::v-deep .el-input__icon {
      line-height: 32px;
    }
  }

  .manager_operation ::v-deep .el-button {
    padding: 8px 15px;
    margin-left: 5px;
  }

  .manager_operation ::v-deep .operation_search {
    border-radius: 6px;
    color: #fff;
    background-color: rgba(152, 26, 0, 1);
  }

  .manager_operation ::v-deep .operation_clear {
    color: #fff;
    background-color: rgba(255, 120, 120, 1);
    border-radius: 6px;
  }

  .manager_operation ::v-deep .operation_add {
    color: rgba(152, 26, 0, 1);
    padding: 7px 8px;
    border-radius: 6px;
    border: 1px solid rgba(152, 26, 0, 1);
  }

  // ------图表------
  .manager_table {
    width: 100%;
    height: 80%;
    display: flex;
    border-radius: 5px;

    .tree_wrapper {
      width: 510px;
      height: 100%;
      overflow-y: auto;

      .tree {
        width: 100%;
        height: 100%;
      }
    }
    .factor_wrapper::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }

    .factor_wrapper::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 5px rgba(255, 255, 255, 1);
      background: rgba(0, 0, 0, 0.2);
    }

    .factor_wrapper::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 5px rgba(255, 255, 255, 1);
      border-radius: 0;
      background: rgba(0, 0, 218, 0.1);
    }
    .factor_wrapper {
      width: 750px;
      height: 500px;
      line-height: 20px;
      margin: 4px;
      background: #f5f5f5;
      border-radius: 5px;
      padding-left: 10px;
      padding-top: 10px;
      overflow-y: auto;
      .factor_title {
        font-size: 14px;
        font-weight: bold;
      }

      .factor_content_wrapper {
        width: 680px;
        height: 100%;
        border-radius: 5px;

        .factor_content_title {
          width: 680px;
          height: 30px;
          line-height: 30px;
          text-align: center;
          display: flex;
          font-size: 12px;
          color: #bababa;

          .weather {
            width: 15%;
          }

          .ratio {
            width: 5%;
          }

          .option {
            width: 10%;
          }

          .condition {
            width: 70%;
          }
        }

        .factor_content {
          width: 710px;
          height: 430px;
          text-align: center;
          font-size: 12px;
          color: #404040;
          display: flex;
          flex-flow: column;

          .factor_content_items {
            flex: 1;
            display: flex;
            height: 40px;
            width: 100%;
            align-items: center;

            .weather {
              cursor: pointer;
              width: 15%;
              height: 100%;
              border-right: 1px solid #ccc;
              overflow: hidden;

            }
            .active {
              color: red;
            }
            .ratio {
              width: 5%;
              height: 100%;
              border-right: 1px solid #ccc;

              input {
                width: 80%;
                outline: none;
                border: none;
                border-radius: 5px;
              }
            }

            .option {
              width: 10%;
              height: 100%;
              border-right: 1px solid #ccc;

              .options_select {
                width: 60px;
                height: 20px;
                border: none;
              }

              .options_select:focus {
                outline: none;
              }
            }

            .condition {
              width: 70%;
              height: 100%;
              border-right: 1px solid #ccc;
              display: flex;
              flex-flow: column;
              padding: 2px;

              .condition_top {
                display: flex;
                width: 100%;
                height: 50%;

                .item {
                  width: 30px;

                  input {
                    width: 25px;
                    outline: none;
                    border: none;
                    border-radius: 5px;
                  }

                  select {
                    width: 18px;
                    border: none;
                    appearance: none;
                    padding-left: 5px;
                  }
                  select:focus {
                    outline: none;
                  }
                }

                .item-Company {
                  width: 30px;
                  color: #afafaf;
                }
              }

              .condition_down {
                display: flex;
                width: 100%;
                height: 50%;

                .item {
                  width: 30px;

                  input {
                    width: 25px;
                    outline: none;
                    border: none;
                    border-radius: 5px;
                  }

                  .item-input-items {
                    width: 30px;
                    height: 100%;
                  }
                }

                .options_select {
                  width: 60px;
                  height: 20px;
                  border: none;
                }
              }

            }
          }

        }


      }
    }
  }

  .manager_table ::v-deep .el-table__body-wrapper::-webkit-scrollbar {
    width: 10px; // 横向滚动条
    height: 6px; // 纵向滚动条 必写
  }

  // 滚动条的滑块
  .manager_table ::v-deep .el-table__body-wrapper::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 3px;
  }
}
