#algorith_manager {
  width: 1200px;
  height: 650px;
  position: fixed;
  top: 42%;
  left: 55%;
  transform: translate(-50%, -50%);
  padding: 10px 10px 15px 15px;
  z-index: 999;
  color: rgba(80, 80, 80, 1);
  background: rgba(255, 255, 255, 1);
  border-radius: 8px;
	box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  // ------标题、关闭按钮------
  .manager_title {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(117, 109, 109, 1);
    font-weight: bold;

    img {
      width: 15px;
      height: 15px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  // ------搜索框------
  .manager_operation {
    align-self: flex-start;
    // width: 60%;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 15px 0;

    .operation_input {
      margin-right: 10px;
    }

    .operation_input /deep/ .el-input__inner {
      width: 260px;
      height: 32px;
      line-height: 32px;
      color: rgba(153, 153, 153, 1);
      background-color: rgba(245, 245, 245, 1);
    }

    .operation_input /deep/ .el-input__icon {
      line-height: 32px;
    }
  }

  .manager_operation /deep/ .el-button {
    padding: 8px 15px;
    margin-left: 5px;
  }

  .manager_operation /deep/ .operation_search {
    border-radius: 6px;
    color: #fff;
    background-color: rgba(152, 26, 0, 1);
  }
  .manager_operation /deep/ .operation_clear {
    color: #fff;
    background-color: rgba(255, 120, 120, 1);
	  border-radius: 6px;
  }
  .manager_operation /deep/ .operation_add {
    color: rgba(152, 26, 0, 1);
    padding: 7px 8px;
    border-radius: 6px;
    border: 1px solid rgba(152, 26, 0, 1);
  }

  // ------图表------
  .manager_table {
    width: 100%;
    height: 80%;
    display: flex;
    border: 1px solid #706765;
    border-radius: 5px;
    .tree_wrapper {
      width: 600px;
      height: 100%;
      overflow-y: auto;
      .tree {
        width: 100%;
        height: 100%;
      }
    }
    .factor_wrapper {
      margin-top: 40px;
      width: 500px;
      height: 300px;
      line-height: 20px;
      .factor_title {
        font-weight: 700;
        padding-left: 8px;
      }
      .select_desc {
        width: 150px;
      }
      .number_wrapper {
        width: 60px;
        height: 200px;
        input {
          width: 40px;
          outline: none;
          border: none;
          border: 1px solid #ccc;
          border-radius: 5px;
        }
      }
      .factor_param {
        width: 500px;
        height: 200px;
        padding: 2px 5px 5px 5px;
        border-radius: 5px;
  
        .factore_item {
          flex: 1;
          justify-content: space-between;
          padding: 5px;
          height: 35px;
          display: flex;
          .select_options {
            display: flex;
            width: 150px;
            .select_options_item {
              cursor: pointer;
              line-height: 22px;
              flex: 1;
              width: 40px;
              margin-left: 4px;
              text-align: center;
              border-radius: 5px;
            }
            .active {
              color: #ffffff;
              background: #981a00;
            }
          }
        }
      }
    }
  }

  .manager_table /deep/ .el-table__body-wrapper::-webkit-scrollbar {
    width: 10px; // 横向滚动条
    height: 6px; // 纵向滚动条 必写
  }
  // 滚动条的滑块
  .manager_table /deep/ .el-table__body-wrapper::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 3px;
  }

  // ------分页------
  .manager_page {
    width: 100%;
    height: 45px;
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
