@import './timebar.scss';
@import './toolbar.scss';
@import './login.scss';
@import './sidebar.scss';
@import './legend.scss';
@import './menubar.scss';
@import './shipmanager.scss';

body {
  height: 100%;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

ul {
  list-style: none;
}
ul,li {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}



p {
  margin: 0;
  padding: 0;
}

.firstType_option {
  border-radius: 10px!important;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main {
  min-height: 100%
}

.drawer-container[data-v-2eafe993] {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 190px;
}

.cesium-timeline-bar {
  position: relative;
  left: 0;
  top: 0;
  cursor: pointer;
  overflow: visible;
  width: 100%;
  height: 0.4em;
  background: linear-gradient(to bottom, rgba(116, 117, 119, .8) 0, rgba(58, 68, 82, .8) 11%, rgba(46, 50, 56, .8) 46%, rgba(53, 53, 53, .8) 81%, rgba(53, 53, 53, .8) 100%);
}

.cesium-timeline-ticLabel {
  position: absolute;
  top: 8px;
  left: 0;
  white-space: nowrap;
  font-size: 72%;
  color: #EEE;
}

.el-message-box {
  .el-message-box__btns {
    .el-button--primary {
      background: #D49500 !important;
      border-color: #D49500 !important;
    }

    .el-button--primary:focus .el-button--primary:hover {
      background: #D49500 !important;
      border-color: #D49500 !important;
    }
  }
}

input::-webkit-input-placeholder{
  color: #C0C4CC;
}
input::-moz-placeholder{
  color: #C0C4CC;
}
input:-ms-input-placeholder{
  color: #C0C4CC;
}
