#app {
    #levelbar {
        width: 100%;
        position: relative;
        cursor: pointer;
        line-height: 18px;
        // display: block;
        align-self: flex-end;
        margin-top: 13px;
        margin-right: 10px;
        padding: 2px 0px;
        z-index: 999;
        &::before {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 10px;
            width: 4px;
            background-color: rgba(0, 0, 0, 0.6);
            border-radius: 9px;
            content: ' ';
        }
        // .ghost-levelcode {
        //     font-size: 10px;
        //     position: absolute;
        //     display: block;
        //     box-sizing: border-box;
        //     right: 1.5em;
        //     .box {
        //         // cursor: -webkit-grab;
        //         // cursor: -moz-grab;
        //         // cursor: grab;
        //         position: relative;
        //         background-color: rgba(68, 65, 65, 0.84);
        //         color: white;
        //         height: 1.8em;
        //         box-sizing: border-box;
        //         padding: 0 .8em;
        //         white-space: nowrap;
        //         text-align: center;
        //         display: table-cell;
        //         vertical-align: middle;
        //         border-radius: .5em;
        //         box-shadow: 0 0 4px 0 black;
        //         &::before {
        //             top: .45em;
        //             right: -1em;
        //             border: solid transparent;
        //             content: ' ';
        //             height: 0;
        //             width: 0;
        //             position: absolute;
        //             border-left-color: rgba(68, 65, 65, 0.84);
        //             border-width: .5em;
        //             margin-left: -0.5em;
        //         }
        //     }
        // }
        // .main-levelcode {
        //     font-size: 10px;
        //     position: absolute;
        //     display: block;
        //     box-sizing: border-box;
        //     right: 2.5em;
        //     .box {
        //         // cursor: -webkit-grab;
        //         // cursor: -moz-grab;
        //         // cursor: grab;
        //         position: relative;
        //         background-color: rgb(152, 26, 0);
        //         color: white;
        //         height: 1.8em;
        //         box-sizing: border-box;
        //         padding: 0 .8em;
        //         white-space: nowrap;
        //         text-align: center;
        //         display: table-cell;
        //         vertical-align: middle;
        //         border-radius: .5em;
        //         box-shadow: 0 0 4px 0 black;
        //         &::before {
        //             top: .45em;
        //             right: -1em;
        //             border: solid transparent;
        //             content: ' ';
        //             height: 0;
        //             width: 0;
        //             position: absolute;
        //             border-left-color: rgb(152, 26, 0);
        //             border-width: .5em;
        //             margin-left: -0.5em;
        //         }
        //     }
        // }
        // 层级按钮全部可见后样式代码
        .level_list {
            position: absolute;
            top: 0;
            right: 18px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            color: #fff;
            font-weight: 500;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
            font-size: 14px;
            line-height: 14px;
            .level_num {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-right: 2px;
                .level_text {
                    padding: 2px 4px;
                    padding-top: 4px;
                }
                .decoration {
                    width: 4px;
                    height: 4px;
                    margin-left: 2px;
                    background-color: rgba(0, 0, 0, 0.6);
                    transform: rotate(45deg);
                }
            }
        }
        .active_level {
            .level_text {
                font-weight: 900;
                text-shadow: none;
                background-color: #981a00;
                border-radius: 4px;
            }
            .decoration {
                margin-left: -2px !important;
                background-color: #981a00 !important
            }
        }
    }
}