.sideBar {
    position: fixed;
    right: 35px;
    top: 75px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    .sidebar_ul {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        max-height: 950px;

        ul {
            list-style: none;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: flex-end;
            // align-items: center;
        }

        .menu_list {
            border-radius: 15px;
            background: rgba(26, 26, 24, 0.7);
        }

        .menu_name {
            margin-right: 15px;
        }

        ul,
        li {
            padding: 0;
            margin: 0;
        }

        // 蓝色背景
        .bgcolor {
            background: rgba(152, 26, 0, 1) !important;
            border-radius: 15px;
        }

        .menuSelect {
            margin-left: 40px;
            margin-top: 5px;
        }

        // 菜单栏要素
        li {
            height: 45px;

            .menu_left {
                // width: 110px;
                height: 45px;
                line-height: 45px;
                text-align: right;
                font-size: 14px;
                font-family: FZLTHJW--GB1-0, FZLTHJW--GB1;
                font-weight: normal;
                color: #fff3e1;
            }

            .menu_right {
                width: 30px;
                height: 45px;
                line-height: 45px;
                text-align: center;

                img {
                    width: 28px;
                    height: 28px;
                    vertical-align: middle;
                }
            }

            .menu_left,
            .menu_right:hover {
                cursor: pointer;
            }
        }
    }

    .other_btn {
        position: fixed;
        bottom: 80px;
        right: 145px;
        color: #fff;
        display: flex;
        align-items: center;

        .latlng {
            width: 190px;
            display: flex;
            align-items: center;

            img {
                width: 28px;
                height: 28px;
            }

            div {
                width: 65px;
                margin-left: 5px;
            }

            .other_lon {
                width: 85px;
            }
        }

        // 重绘按钮
        .isDraw {
            width: 90px;
            height: 30px;
            line-height: 30px;
            
            color: rgba(255, 255, 255, 0.9);
            background: url('~@/assets/images/sidebar/drawbg.png') no-repeat;
            background-position: center;
            // border: 1px solid #fff;
            // border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            font-weight: 600;
            // font-family:"Times New Roman",Georgia,Serif;
            
            &:hover {
                cursor: pointer;
            }
    
            div {
                width: 12px;
                height: 12px;
                border: 1px solid #fff;
                border-radius: 50%;
                margin-right: 8px;
            }
    
        }
        .draw_active {
            border: none;
            background: rgba(152, 26, 0, 1);
        }
    }
    
    // 实况资料
    .real_time_data {
        margin-top: 15px;
        margin-right: -15px;

        .el-input {
            width: 100px;
            color: #fff3e1;

            .el-input__icon {
                line-height: 28px!important;
            }
        }

        .el-input__inner {
            height: 28px;
            line-height: 28px;
            font-size: 14px;
            font-family: FZLTHJW--GB1-0, FZLTHJW--GB1;
            font-weight: normal;
            border-radius: 15px;
            background: rgba(26, 26, 24, 0.7);
            color: #fff;
            border: none;
        }
    }

    // 潮汐面板
    .tidal {
        position: fixed;
        width: 320px;
        // height: 450px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        border-radius: 8px;
        box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.5);
        color: rgba(80, 80, 80, 1);
        background-color: rgba(255, 255, 255, 1);

        .tidal_title {
            width: 100%;
            // flex: 1;
            height: 35px;
            color: rgba(255, 255, 255, 1);
            border-top-right-radius: 8px;
            border-top-left-radius: 8px;
            background: rgba(152, 26, 0, 1);
            display: flex;
            justify-content: space-between;
            align-items: center;

            .title_detail {
                font-size: 18px;
                font-weight: bold;
                margin-left: 15px;
            }

            .title_time {
                display: flex;
                align-items: center;
                font-size: 14px;
                margin-right: 15px;

                img {
                    width: 20px;
                    height: 20px;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        .tidal_content {
            position: relative;
            width: 100%;
            flex: 9;
            padding: 5px 10px 10px 10px;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;

            // 时间切换和图表
            .content_echarts {
                width: 100%;
                flex: 1;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                align-items: center;

                .echarts_time {
                    width: 100%;
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    li {
                        width: 70px;
                        height: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 8px;

                        div {
                            width: 100%;
                            height: 20px;
                            line-height: 20px;
                            text-align: center;
                            border-right: 1px solid #ccc;
                        }

                        &:last-child div {
                            border-right: none;
                        }

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    .li_select {
                        color: #fff;
                        background: rgba(152, 26, 0, 1);

                        div {
                            border: none;
                        }
                    }
                }

                // 表格展示
                .echarts_content {
                    width: 300px;
                    height: 150px;
                    // flex: 5;
                }
            }

            // 潮汐提示消息
            .tidal_msg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: rgb(152, 26, 0);
                font-weight: 600;
            }

            // 高潮低潮列表信息
            .content_list {
                width: 100%;
                flex: 1;

                ul {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-around;
                    align-items: center;

                    .li_blue {
                        background: rgba(234, 245, 255, 1)
                    }

                    .li_red {
                        background: rgba(255, 240, 240, 1);
                    }

                    li {
                        width: 47%;
                        height: 90px;
                        margin-top: 5px;
                        font-size: 14px;
                        display: flex;
                        flex-flow: column nowrap;
                        align-items: center;
                        border-radius: 5px;

                        .blue {
                            color: rgba(0, 113, 255, 1);
                        }

                        .red {
                            color: rgba(208, 36, 0, 1);
                        }

                        // 头部标题
                        .list_top {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin: 3px 0;

                            img {
                                width: 20px;
                                height: 20px;
                                margin-right: 5px;
                            }
                        }

                        // 内容区域
                        .list_bottom {
                            display: flex;
                            flex-flow: column nowrap;
                            justify-content: space-around;
                            align-items: flex-start;
                            border-top: 1px solid rgba(150, 196, 255, 1);

                            div {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin-top: 8px;

                                img {
                                    width: 20px;
                                    height: 20px;
                                }

                            }

                            .list_time {
                                span {
                                    &:last-child {
                                        color: rgba(65, 65, 65, 1);
                                        font-size: 16px;
                                    }
                                }
                            }

                            .list_height {
                                span {
                                    &:last-child {
                                        color: rgba(122, 130, 155, 1);
                                        font-size: 16px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .tylist {
        width: 375px;
        // height: 500px;
        position: fixed;
        bottom: 230px;
        right: 165px;
        background: white;
        z-index: 9999;

        .tytitle {
            height: 50px;
            display: flex;
            font-size: 16px;
            font-weight: 700;

            div {
                text-align: center;
                line-height: 50px;
                background: #d7edff;
            }

            .chooseAll {
                flex: 1;
                border: 1px solid #dddddd;
                border-left: none;
                border-top: none;
                cursor: pointer;

                img {
                    width: 16px;
                    vertical-align: middle;
                }
            }

            .title_num {
                flex: 2;
                border: 1px solid #dddddd;
                border-left: none;
                border-top: none;
            }

            .title_cn {
                flex: 2;
                border: 1px solid #dddddd;
                border-left: none;
                border-top: none;
            }

            .title_en {
                flex: 2;
                border: 1px solid #dddddd;
                border-left: none;
                border-top: none;
                border-right: none;
            }
        }

        .tycontent {
            // width: 300px;
            height: 328px;
            font-size: 14px;
            overflow-y: auto;
            overflow-x: hidden;
            display: flex;

            &::-webkit-scrollbar {
                width: 4px;
                background: rgba(240, 240, 240, 0.6);
            }

            /* 滚动槽 */
            &::-webkit-scrollbar-track {
                border-radius: 10px;
            }

            /* 滚动条滑块 */
            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background-color: rgba(0, 0, 0, 0.5);
            }

            .content_box {
                width: 100%;

                .libox {
                    display: flex;

                    div {
                        text-align: center;
                        line-height: 40px;
                    }

                    .chooseAll {
                        flex: 1;
                        border: 1px solid #dddddd;
                        border-left: none;
                        border-top: none;
                        cursor: pointer;

                        img {
                            width: 16px;
                            vertical-align: middle;
                        }
                    }

                    .title_num {
                        flex: 2;
                        border: 1px solid #dddddd;
                        border-left: none;
                        border-top: none;
                    }

                    .title_cn {
                        flex: 2;
                        border: 1px solid #dddddd;
                        border-left: none;
                        border-top: none;
                    }

                    .title_en {
                        flex: 2;
                        border: 1px solid #dddddd;
                        border-left: none;
                        border-top: none;
                        border-right: none;
                    }
                }
            }
        }
    }
    .ty_color{
        width: 535px;
        height: 30px;
        background: rgba(41, 40, 38, 0.7);
        position: fixed;
        bottom: 180px;
        // right: 110px;
        right: 145px;
        border-radius: 10px;
        color: white;
        display: flex;
        line-height: 30px;

        p{
            margin-left: 10px;
        }

        ul{
            display: flex;
            justify-content: space-around;
            width: 488px;
            
            li{
                // margin-left: 5px;
                display: flex;
                line-height: 30px;

                .icon{
                    width: 12px;
                    height: 12px;
                    border: 1px solid black;
                    border-radius: 50%;
                    margin-top: 8px;
                }
            }
            
        }
    }
}